[submodule "projects/ircyr-11ty/1-input/epidoc-stylesheets"]
	path = projects/ircyr-11ty/source/stylesheets/epidoc
	url = https://github.com/EpiDoc/Stylesheets
[submodule "projects/sigidoc-feind-11ty/1-input/feind-collection"]
	path = projects/sigidoc-feind-11ty/source/feind-collection
	url = https://github.com/byzantinistik-koeln/feind-collection
[submodule "projects/sigidoc-feind-11ty/1-input/sigidoc-stylesheets"]
	path = projects/sigidoc-feind-11ty/source/stylesheets/sigidoc
	url = https://github.com/SigiDoc/Stylesheets
[submodule "projects/sigidoc-feind-11ty/1-input/authority"]
	path = projects/sigidoc-feind-11ty/source/authority
	url = https://github.com/byzantinistik-koeln/authority
