<header>
    <div class="header-inner">
        <div class="header-content">
            <h1 id="site-title">
                <a href="/en/" class="site-title-link">
                    <span class="site-title-abbr">IRCyr</span>
                    <span class="title-separator"></span>
                    <span class="site-title-full">Inscriptions of Roman Cyrenaica</span>
                </a>
            </h1>

            <nav class="site-nav">
                <div class="nav-dropdown">
                   <a href="/en/" class="nav-link nav-dropdown-toggle">Home</a>
                   {% if collections.texts and collections.texts | length > 0 %}
                        <ul class="nav-dropdown-menu">
                           {% set sortedTexts = collections.texts | sort(false, false, "data.order") %}
                           {% for text in sortedTexts %}
                             <li><a href="/en/texts/{{ text.fileSlug }}/">{{ text.data.title }}</a></li>
                           {% endfor %}
                        </ul>
                  {% endif %}
                </div>

                <a href="/en/inscriptions/" class="nav-link">Inscriptions</a>
                <a href="/en/search/" class="nav-link">Search</a>
                <div class="nav-dropdown">
                    <a href="/en/indices/" class="nav-link nav-dropdown-toggle">Indices</a>
                    <ul class="nav-dropdown-menu">
                        {% if indices and indices._summary and indices._summary.indices %}
                            {% for idx in indices._summary.indices %}
                            {% if idx.nav == "indices" or not idx.nav %}
                            <li><a href="/en/indices/{{ idx.id }}/">{{ idx.title }}</a></li>
                            {% endif %}
                            {% endfor %}
                        {% else %}
                            <li><a href="/en/indices/persons/">People</a></li>
                            <li><a href="/en/indices/abbreviations/">Abbreviations</a></li>
                            <li><a href="/en/indices/findspots/">Findspots</a></li>
                        {% endif %}
                    </ul>
                </div>
                <a href="/en/bibliography/" class="nav-link">Bibliography</a>
            </nav>
        </div>
    </div>
</header>
