---
layout: layouts/base.njk
title: Abbreviations
permalink: en/indices/abbreviations/index.html
---

{% set documentBasePath = "/en/inscriptions" %}
{% set indexData = indices.abbreviations %}
{% include "partials/index-table.njk" %}
