---
layout: layouts/base.njk
title: Age at Death
permalink: en/indices/death/index.html
---

{% set documentBasePath = "/en/inscriptions" %}
{% set indexData = indices.death %}
{% include "partials/index-table.njk" %}
