---
layout: layouts/base.njk
title: Fragments of Text
permalink: en/indices/fragments/index.html
---

{% set documentBasePath = "/en/inscriptions" %}
{% set indexData = indices.fragments %}
{% include "partials/index-table.njk" %}
