---
layout: layouts/base.njk
title: Places
permalink: en/indices/mentioned_places/index.html
---

{% set documentBasePath = "/en/inscriptions" %}
{% set indexData = indices.mentioned_places %}
{% include "partials/index-table.njk" %}
