---
layout: layouts/base.njk
title: Numerals
permalink: en/indices/numerals/index.html
---

{% set documentBasePath = "/en/inscriptions" %}
{% set indexData = indices.numerals %}
{% include "partials/index-table.njk" %}
