---
layout: layouts/base.njk
permalink: "{{ item.lang }}/bibliography/{{ item.bibRef }}/index.html"
eleventyComputed:
  title: "Bibliography: {{ item.shortCitation }}"
  language: "{{ item.lang }}"
---
{% set langCode = item.lang %}
{% include "partials/bibliography-item.njk" %}
