---
layout: layouts/base.njk
title: Bibliography Concordance
permalink: en/bibliography/index.html
---

<p class="entry-count-info">{{ indices.bibliography.entries | length }} bibliography entries cited in the inscriptions.</p>

<table class="data-table index-table">
    <thead>
        <tr>
            <th>Short Citation</th>
            <th>Full Citation</th>
        </tr>
    </thead>
    <tbody>
    {% for entry in indices.bibliography.entries %}
        <tr>
            <td><a href="/en/bibliography/{{ entry.bibRef.en }}/">{{ entry.shortCitation.en or entry.bibRef.en or '-' }}</a></td>
            {% set fc = entry.fullCitation.en %}
            <td>
                {%- if fc and fc.authors %}{{ fc.authors }}, {% endif %}
                {%- if fc and fc.title %}<i>{{ fc.title }}</i>{% endif %}
                {%- if fc and fc.pubPlace %}, {{ fc.pubPlace }}{% endif %}
                {%- if fc and fc.date %}, {{ fc.date }}{% endif -%}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
