---
layout: layouts/base.njk
permalink: "en/bibliography/{{ item.bibRef.en }}/index.html"
eleventyComputed:
    title: "Bibliography: {{ item.shortCitation.en }}"
---
{% include "partials/bibliography-item.njk" %}
